html {
  background-color: #f5f5dc;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

a:link {
  background-color: tan;
}

a:visited {
  background-color: rgb(209, 194, 174);
}

a:hover {
  background-color: blanchedalmond;
}

a:active {
  background-color: hotpink;
} 
