---
import "../styles/global.css";
export interface Props {
	title: string;
}

const { title } = Astro.props;
const {pathname} = Astro.url;
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/jpeg" href="/giticon.jpeg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>
<body>
	<h1>{title}</h1>
	<!-- {pathname == "/experience" && <a class="link" href="/">Know about manish</a>} -->
	{pathname == "/" && <a class="link" href="/experience">Professional experience</a>}
	<!-- <a class="link" href="/pictures">Picture</a> -->
	<slot />
	{pathname == "/experience" && <a class="link" href="/">Know about manish</a>}
</body>